:root {
    --color-yellow: #FCDB50;
    --color-blue: #004af2;
    --color-water: #4973ff;
    --color-orange: #ff903e;
    --color-red: #ff2c2c;
    --color-white: #fff;
    --color-black: #000;
}

body {
    margin: 0;

    background-color: #fff;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #585858;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.no-scroll,
body.show-nav {
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

video {
    position: absolute;

    z-index: -1;

    object-fit: cover;

}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.rel {
    position: relative;
}

/* spinner */

/* .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;

    width: 100%;
    height: 100vh;

    background-color: #262626;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s;
}

.display .spinner-container {
    opacity: 0;
    visibility: hidden;
}

.circles {
    width: 8rem;
    height: 8rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    animation: displayCircles 4s;
}

@keyframes displayCircles {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    25% {
        opacity: 1;
        visibility: visible;
    }

    90% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.circles div {
    animation: circles 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 4rem 4rem;
}

.circles div::after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #c29525;
    margin: -0.4rem 0 0 -0.4rem;
}

.circles div:nth-child(1) {
    animation-delay: -0.036s;
}

.circles div:nth-child(1)::after {
    top: 6.3rem;
    left: 6.3rem;
}

.circles div:nth-child(2) {
    animation-delay: -0.072s;
}

.circles div:nth-child(2)::after {
    top: 6.8rem;
    left: 5.6rem;
}

.circles div:nth-child(3) {
    animation-delay: -0.108s;
}

.circles div:nth-child(3)::after {
    top: 7.1rem;
    left: 4.8rem;
}

.circles div:nth-child(4) {
    animation-delay: -0.144s;
}

.circles div:nth-child(4)::after {
    top: 7.2rem;
    left: 4rem;
}

.circles div:nth-child(5) {
    animation-delay: -0.18s;
}

.circles div:nth-child(5)::after {
    top: 7.1rem;
    left: 3.2rem;
}

.circles div:nth-child(6) {
    animation-delay: -0.216s;
}

.circles div:nth-child(6)::after {
    top: 6.8rem;
    left: 2.4rem;
}

.circles div:nth-child(7) {
    animation-delay: -0.252s;
}

.circles div:nth-child(7)::after {
    top: 6.3rem;
    left: 1.7rem;
}

.circles div:nth-child(8) {
    animation-delay: -0.288s;
}

.circles div:nth-child(8)::after {
    top: 5.6rem;
    left: 1.2rem;
}

@keyframes circles {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}



/* page */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    overflow: hidden;
}



/* header */

.header {
    width: 100%;
    background-color: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: background 0.2s linear;
}

.header--dark,
body.show-nav .header {
    background-color: var(--color-water);
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
}

.header__logo--black {
    color: #2c2c2c;
}

.header__logo img {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.header__logo-text {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-white);
    -webkit-text-stroke: 1px var(--color-yellow);

    margin-left: 11px;

    position: relative;
    top: 2px;

    -webkit-filter: drop-shadow(10px 5px 5px #272626);
    filter: drop-shadow(10px 5px 5px #141414);
}

/* nav */

.nav {
    width: 100%;
    height: calc(100vh - 50px);
    padding-top: 5px;

    overflow: auto;
    font-size: 16px;

    display: flex;
    flex-direction: column;

    background-color: var(--color-water);

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;

    transform: translateX(100%);
    transition: transform 0.2s ease-out;

}

.nav.show {
    transform: translateX(0);
    transition: transform 0.2s ease-out;

    background-color: var(--color-water);

    /* background-image: url(../images/menu/background.png);
    background-position: center center;
    background-size: cover; */
    padding-top: 150px;
}

.bubbles {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: -70px;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 35px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    overflow: hidden;
}

.menu__link {
    width: 150px;
    display: block;

    font-size: 30px;
    text-align: left;
    color: #fff;
    text-decoration: none;

    transition: background 0.2s linear;
    overflow: hidden;

    position: relative;
}

.menu__link::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-red);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.9s ease-in-out;
}

.menu__link:hover::before {
    width: 100%;
}

.nav__link:not(.active):hover {
    text-decoration: underline;
}

.nav__link.active {
    background-color: var(--color-water);
}

/* burger */

.burger {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;

    position: relative;

    font-size: 0;
    color: transparent;
    text-align: center;

    background: var(--color-water);
    border: 1px solid var(--color-yellow);
    border-radius: 50%;

    cursor: pointer;

    -webkit-filter: drop-shadow(10px 5px 5px #272626);
    filter: drop-shadow(10px 5px 5px #141414);
}

.burger__tip {
    position: absolute;
    right: 70px;
    top: 7px;

    width: 80px;
    height: 30px;

    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-blue);

    font-size: 14px;
    letter-spacing: 0.1rem;

    opacity: 0;
    visibility: hidden;

    transition: all 0.2s;
}

.burger__tip::before {
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    border-width: 15px 0 15px 10px;
    border-color: transparent transparent transparent var(--color-yellow);
    border-style: solid;

    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}

.burger:hover .burger__tip--menu {
    opacity: 1;
    visibility: visible;
}

.burger.active:hover .burger__tip--close {
    opacity: 1;
    visibility: visible;
}

.burger:focus {
    outline: none;
}

.burger__line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 3px auto;

    background-color: #fff;

    transition: transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.burger__line:nth-child(1) {
    width: 20px;
    margin-left: auto;
}

.burger__line:nth-child(1),
.burger__line:nth-child(3) {
    transform-origin: right;
    transition: width 0.2s ease-out;
}

.burger.active .burger__line:nth-child(1),
.burger.active .burger__line:nth-child(3) {
    width: 0;
}

.burger.active .burger__line:nth-child(2),
.burger.active .burger__line:nth-child(4) {
    position: absolute;
    left: 9px;
    top: 40%;

    transform-origin: center;
}

.burger.active .burger__line:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(4) {
    transform: rotate(-45deg);
}



/* intro */

.intro {
    margin-bottom: 30px;
    position: relative;
}



/* slider */

.intro__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #04222a url('../images/slider/slide-1.jpg') no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.intro__slider .slider-item {
    display: none;
}

.intro__slider.slick-initialized {
    background: var(--color-water);
}

.intro__slider.slick-initialized .slider-item {
    display: block;
}

.intro__slider .slick-list,
.intro__slider .slick-track {
    height: 100%;
}

.intro__slider-item {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__slider-photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.intro__slider-arrows {
    position: absolute;
    bottom: 30px;
    left: 430px;
}

.intro__slider-btn {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 3px;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    background: none;
}

.intro__slider-btn:focus {
    outline: none;
}

.intro__slider-btn--prev {
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}

.intro__slider-btn--next {
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    position: relative;
    z-index: 2;
}

.intro__text {
    margin-bottom: 45px;
    text-align: right;
}

.intro__countries {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-yellow);
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
}

.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 110px;
    line-height: 100px;
    color: var(--color-red);
    font-weight: 700;
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
}



/* form */

.form__group {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
    padding-bottom: 12px;
    padding-left: 50px;

    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    appearance: none;
    box-shadow: none;

    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;

    transition: border-color 0.1s linear;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--user {
    background: url('../images/user-icon.svg') left 15px top 5px no-repeat;
}

.input--phone {
    background: url('../images/phone-icon.svg') left 15px top 5px no-repeat;
}

.input--email {
    background: url('../images/mail-icon.svg') left 15px top 6px no-repeat;
}

.input--dark {
    color: #2c2c2c;
    border-bottom-color: #e8e8e8;
}

.input--dark::placeholder {
    color: #2c2c2c;
}

.input--dark:focus {
    border-bottom-color: #000;
}

.input--dark.input--user {
    background-image: url('../images/user-black-icon.svg');
}

.input--dark.input--phone {
    background-image: url('../images/phone-black-icon.svg');
}

.input--dark.input--email {
    background-image: url('../images/mail-black-icon.svg');
}

/* btn */

.btn {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    padding: 15px 35px;

    position: relative;
    overflow: hidden;

    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;

    cursor: pointer;

    background: #333;
    border: none;
    border-radius: 5px;

    transition: background-size 0.2s linear;
}

.btn:hover {
    box-shadow: 0 0 10px #1e1f22,
        0 0 40px #4973ff,
        0 0 80px #4973ff;
    transition: 1s;
    transition-delay: 1s;
}

.btn:hover .liquid {
    top: -120px;
}

.btn span {
    display: block;
    position: absolute;
    z-index: 2;
}

.btn span:nth-child(1) {
    top: 0px;
    left: -100%;

    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, var(--color-red));
}

.btn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.btn span:nth-child(3) {
    bottom: 0px;
    right: -100%;

    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, var(--color-red));
}

.btn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.btn span:nth-child(2) {
    top: -100px;
    right: 0;

    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color-red));
}

.btn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.btn span:nth-child(4) {
    bottom: -100px;
    left: 0;

    width: 5px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--color-red));
}

.btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn p {
    display: inline-block;
    padding: 0;
    margin: 0;

    position: relative;
    z-index: 5;
}

.liquid {
    position: absolute;
    left: 0;
    top: -80px;

    width: 200px;
    height: 200px;
    background: #4973ff;

    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}


.liquid::before,
.liquid::after {
    content: '';

    width: 200%;
    height: 200%;

    position: absolute;
    top: 0;
    left: 50%;

    transform: translate(-50%, -75%);
}

.liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animateWave 5s linear infinite;
}

.liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animateWave 10s linear infinite;
}

@keyframes animateWave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

.btn--shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.20);
}

.btn--inner {
    margin-bottom: 100px;
}



/* section */
.section {
    padding: 60px 0;
}

.section--clients {
    background: url('../images/clients/clients-bg.jpg') no-repeat center;
    background-size: cover;
}

.section--gray {
    background-color: #f9f9f9;
}

.section--last {
    margin-bottom: 60px;
}

.section--contacts {
    background-image: url(../images/map/Screenshot_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 108px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
    -webkit-text-stroke: 1px rgba(0, 74, 242, 1);
}

.section__title--contacts {
    position: relative;
    top: -150px;
}

/* services */

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: #fff;

    position: relative;
    top: -23px;
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 24%;
    height: 300px;
    padding: 15px;
    margin-bottom: 30px;
    margin-right: 10px;

    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

    overflow: hidden;
    transition: all 0.5s ease 0s;

    position: relative;
    z-index: 9;
}

.services__item:last-child {
    margin-right: 0;
}


.services__item::before,
.services__item::after {
    content: "";
    height: 200%;
    width: 120%;
    background: var(--color-water);

    position: absolute;
    z-index: -9;

    transform: rotate(45deg);
    transition: all 0.5s;
    opacity: 0;
}

.services__item::before {
    top: -37px;
    left: 100%;
}

.services__item:hover::before {
    left: -27px;
    opacity: 1;
}

.services__item::after {
    right: 100%;
    bottom: -37px;
}

.services__item:hover::after {
    right: -27px;
    opacity: 1;
}

.services__title {
    margin-bottom: 20px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #2C2C2C;
}

.services__text {
    margin-bottom: 20px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #585858;
}

.services__footer {
    margin-top: auto;
}

.services__footer img {
    transition: all 0.5s;
}

.services__item:hover .services__text,
.services__item:hover .services__title {
    color: var(--color-white);
}

.services__item:hover .services__footer img {
    transform: rotate(360deg);
}

/* works */

.works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
    top: -23px;
}

.works__item {
    width: 350px;
    min-width: 350px;
    height: auto;
    overflow: hidden;
}

.works__link {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.works__img-responsive {
    transition: transform 0.7s ease-in-out;
    width: 100%;
    height: 100%;
}

.works__item:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/* clients */

.clients {
    display: flex;
    margin-bottom: 60px;
    padding: 60px 30px;


    position: relative;
    top: -23px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
}

.clients::before,
.clients::after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.clients::before {
    background-color: #004AF2;
    right: 50%;
}

.clients::after {
    background-color: #FC2C2B;
    left: 50%;
}



.clients__reviews {
    width: 100%;
}



.clients-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;

    background: url('../images/heart.svg') no-repeat left 19px top;

    font-size: 18px;
    color: #464646;
}

/* reviews */

.reviews {
    position: relative;
    height: 200px;

    background: url('../images/ajax-loader.gif') no-repeat center;
}

.reviews.slick-initialized {
    height: auto;
    background: none;
}

.reviews::before,
.reviews::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 1;
}

.reviews::after {
    right: 0;

    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.reviews::before {
    left: 0;

    background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
}

.reviews .slick-list {
    padding-top: 20px;
    z-index: 3;
}

.reviews .slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    left: 0;
    bottom: -20px;
    z-index: 3;
}

.reviews .slick-dots li {
    margin: 0 8px;
}

.reviews .slick-dots li.slick-active button {
    background: #004af2;
    box-shadow: 0 0 0 5px rgba(0, 74, 242, 0.11);
}

.reviews .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;

    background: #d8d8d8;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    color: transparent;
    font-size: 0;

    transition: background 0.2s linear;
}

.reviews .slick-dots button:focus {
    outline: none;
}

.reviews__item {
    display: none;
    padding: 0 10px;
}

.reviews__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    position: relative;
    z-index: 2;
}

.reviews__header-content {
    flex-grow: 1;
    padding-left: 20px;
}

.reviews__photo {
    width: 100px;
    height: 100px;

    position: relative;
    z-index: 2;

    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.reviews__name {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #2C2C2C;
}

.reviews__company {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #2C2C2C;
}

.reviews__content {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #585858;
}

.reviews__content p {
    margin-bottom: 20px;
}

.reviews__content p::first-line {
    text-indent: 20px;
}

/* mission */

.mission-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 108px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.05);
    text-align: center;
}

.mission {
    padding: 60px 30px;
    margin-bottom: 30px;

    position: relative;
    top: -23px;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);

    text-align: center;
}

.mission::before,
.mission::after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.mission::before {
    background-color: #004AF2;
    right: 50%;
}

.mission::after {
    background-color: #FC2C2B;
    left: 50%;
}

.mission__title {
    margin-bottom: 5px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-water);
}

.mission__subtitle {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #585858;
}

/* prices */

.prices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    position: relative;
    top: -35px;
}

.prices__card {
    display: flex;

    width: 45%;
    height: 250px;
    margin: 30px 0;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
    cursor: pointer;

    position: relative;
}

.prices__box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: var(--color-white);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.prices__card:hover .prices__box {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 1px solid var(--color-water);

    left: 5px;
    top: calc(50% - 75px);

    transition: 0.5s ease-in-out;
}

.prices__box::before {
    content: attr(data-text);

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 60px;
    font-weight: 700;
    color: var(--color-water);

    text-align: center;
    transition: font-size 0.5s ease-in-out;
}

.prices__card:hover .prices__box::before {
    font-size: 0px;
    transition: font-size 0.5s ease-in-out;
}

.prices__img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.prices__card:hover .prices__img {
    max-width: 75px;
}

.prices__content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;

    position: absolute;
    right: 0;
}

.prices__content-title {
    margin-bottom: 5px;

    font-size: 24px;
}

/* contacts */

.contacts__title {
    font-size: 32px;
    line-height: 37px;
    font-weight: 700;
    color: #FCDB50;

    max-width: 455px;
    text-align: left;

    margin: 20px 0;
}

.contacts__info {
    background: var(--color-water);

    border-radius: 5px;

    box-sizing: border-box;

    padding: 24px;
    max-width: 358px;

    margin-top: 30px;
}

.contacts__phone,
.contacts__mail,
.contacts__address {
    margin: 0 0 20px 0;
}


.contacts__phone span,
.contacts__mail span,
.contacts__address span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #FCDB50;

    padding-left: 30px;

    background: url('../../assets/images/tel.svg') left center no-repeat;
}


.contacts__guest,
.contacts__phone a,
.contacts__mail a,
.contacts__address a {
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #FCDB50;

    display: inline-block;
    margin-top: 0;
    margin-left: 30px;

    transition-duration: 500ms;
    transition-property: color;
}

.contacts__phone a:hover,
.contacts__mail a:hover,
.contacts__address a:hover {
    color: #FCDB50;
}

.contacts__mail span {
    background-image: url('../../assets/images/mail.svg');
}

.contacts__address span {
    background-image: url('../../assets/images/map.svg');

    line-height: 24px;
}

.contacts__address span:last-child {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;

    margin-top: 10px;

    background: none;
}

.contacts__shema {
    font-size: 17px;
    line-height: 24px;

    margin-bottom: 0;
    margin-left: 30px;
}

.contacts__shema span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #FCDB50;
}

.contacts__shema a {
    text-decoration: none;
    color: #FCDB50;
    cursor: pointer;
}

.contacts__shema a:hover {
    text-decoration: underline;
}

/*  footer */

.footer {
    padding: 40px 0;
    margin-top: auto;

    background-color: var(--color-water);

    background-repeat: no-repeat;
    background-position: left -50px bottom -80px,
        right -50px bottom -80px;

    text-align: center;
}

.footer__contacts {
    margin: 25px 0;

    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: var(--color-yellow);
    font-style: normal;
}

.footer__contacts p {
    margin: 0 0 5px;
}

.footer__contacts a {
    color: inherit;
    text-decoration: none;
}

.footer__contacts a:hover {
    text-decoration: underline;
}

.footer__nav {
    font-size: 12px;
}

.footer__nav a {
    margin: 0 5px;

    color: #004af2;
    text-decoration: none;
}

.footer__nav a:hover {
    text-decoration: underline;
}

/* modal */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    overflow-y: auto;

    background-color: var(--color-black);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal.show {
    display: block;
}

.modal__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.modal__content {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    position: relative;

    background-color: #fff;
    opacity: 0;

    transform: scale(0.5);

    transition: transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.modal__header {
    margin-bottom: 25px;

    text-align: center;
}

.modal__icon {
    margin-bottom: 10px;
}

.modal__title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #004AF2;
}

.modal__text {
    font-size: 16px;
    color: #2c2c2c;
}

.modal__footer {
    margin-top: 25px;
    padding-top: 25px;

    border-top: 1px solid #e8e8e8;

    text-align: center;
}

.modal__footer-title {
    margin-bottom: 10px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2C2C2C;
}

.modal__contacts {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #2C2C2C;
}

.modal__contacts p {
    margin-bottom: 3px;
}

.modal__contacts a {
    color: inherit;
    text-decoration: none;
}

.modal__contacts a:hover {
    text-decoration: underline;
}

.modal__close {
    width: 20px;
    height: 20px;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -20px;
    right: -30px;
    z-index: 1;

    transition: transform 0.2s linear;
}

.modal__close:focus {
    outline: none;
}

.modal__close img {
    display: block;
}

.modal__close:hover {
    transform: rotate(90deg);
}

/* main */

.main {
    display: flex;
    margin: 0 -15px;
}

.main__col {
    width: 50%;
    padding: 0 15px;
}

/* text */

.text {
    max-width: 890px;
    margin-bottom: 50px;

    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: #585858;
}

.text p {
    margin-bottom: 20px;
}

.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
    margin-bottom: 20px;

    font-weight: 700;
    color: #2c2c2c;
}

.text h2 {
    font-size: 28px;
}

.text h3 {
    font-size: 24px;
}

.text h4 {
    font-size: 22px;
}

.text h5 {
    font-size: 18px;
}

.text h6 {
    font-size: 16px;
}

.text ul,
.text ol {
    margin-bottom: 20px;
}

.text ol {
    list-style: decimal;
    list-style-position: inside;
}

.text hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background: #d1d1d1;
}

.text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text a {
    text-decoration: none;
    color: #0d53f2;
}

.text a:hover {
    text-decoration: underline;
}

/* ************** */
/* media queries */
/* ************** */

@media (max-width: 991px) {

    /* intro */

    .intro__title {
        font-size: 90px;
    }

    /* intro */



    .intro__slider-arrows {
        display: none;
    }

    /* section */

    .services__title {
        text-align: center;
    }

    .section--map {
        background-position: center top 130px;
    }

    /* services */

    .services__item {
        width: 50%;
    }

    /* clients */

    .clients {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .clients__logos,
    .clients__reviews {
        width: 100%;
    }

    .clients__logos {
        margin-bottom: 50px;
    }

    .clients__list {
        justify-content: center;
    }

    .clients__list li {
        max-width: 130px;
    }

    /* prices */
    .prices__box::before {
        font-size: 30px;
    }

    /* footer */



    /* main */

    .main__col--left {
        width: 55%;
    }

    .main__col--right {
        width: 45%;
    }


}


@media (max-width: 767px) {

    /* nav */



    .nav.show {
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }

    /* intro */

    .intro__inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btn--inner {
        margin-bottom: 0;
    }

    .section__title {
        font-size: 45px;
    }


    /* request-form */

    .request-form--intro {
        order: 2;
        position: static;
    }



    /* mission */

    .mission-title {
        font-size: 70px;
    }

    .mission {
        padding: 40px 20px;
        margin-top: -16px;
    }

    .mission__title {
        font-size: 24px;
    }

    .mission__subtitle {
        font-size: 18px;
    }

    /* prices */
    .prices__card {
        width: 100%;
    }

    /* footer */



    /* main */

    .main {
        flex-direction: column;
    }

    .main__col {
        width: 100%;
    }

    /* request-form */

    .request-form--right {
        margin: 30px auto 0;
    }

    /* article */

    .articles--column {
        margin-bottom: 30px;
    }

}

@media (max-width: 575px) {

    /* intro */



    /* services */

    .services {
        padding-top: 55px;
        padding-bottom: 10px;
    }

    .services__main-title {
        width: 100%;

        font-size: 60px;
        text-align: center;

        bottom: auto;
        right: auto;
        top: 20px;
    }

    .services__item {
        width: 100%;
    }

    /* section */

    .section {
        padding: 30px 0;
    }

    .section--last {
        margin-bottom: 30px;
    }

    .section__title {
        font-size: 36px;
    }

    /* request form */

    .request-form__header,
    .request-form__content {
        padding: 20px;
    }

    .request-form__title {
        font-size: 26px;
    }

    /* clients */

    .clients__list {
        margin: 0 -15px;
    }

    .clients__list li {
        max-width: none;
        width: 33.33333%;
        margin-right: 0;
        padding: 0 15px;
    }

    .clients__list-logo {
        margin: 0 auto;
    }

    .clients-love {
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }

    /* mission */

    .mission-title {
        font-size: 40px;
    }

    .mission {
        padding: 30px 20px;
        margin-top: -10px;
    }

    .mission__title {
        font-size: 20px;
    }

    .mission__subtitle {
        font-size: 16px;
    }

    /* footer */


    /* modal */

    .modal__close {
        right: 0;
        top: -30px;
    }

}

@media (max-width: 320px) {

    .header__logo-text {
        display: none;
    }

    .intro__title {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }

    .intro__countries {
        text-align: center;
    }

    .prices__content {
        width: 100%;
        padding-top: 70px;
    }

    .prices__card:hover .prices__box {
        left: 35%;
        top: 10px;
    }
}